#next {
    width: 70px;
    height: 70px;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 67%;
    background: black;
    border-radius: 50px;
}
#next img {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    border-radius: 35px;
    transform: scale(-1, 1);
}
#prev{
    width: 70px;
    height: 70px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 67%;
    background: black;
    border-radius:50px;
}
#prev img {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: black;
    border-radius: 35px;
}

#BD_show img {
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    margin-left: 24.5%;
    position: absolute;
}

#menu_gauche {
    width: 13%;
    height: 94%;
    position: absolute;
    border-radius: 5px;
    border: 3px solid #ff4d4d;
    margin: 10px;
}

#menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 7%;
    height: 100%;
    background: #ff4d4d;
}

#save img {
    width: 45px;
    height: 45px;
    border-radius: 23px;
    position: absolute;
    top: 2px;
    right: 2px;
}

#save {
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    border: 2px solid black;
}

#add {
    position: absolute;
    top: 10px;
    right: 5px;
    width: 200px;
    height: 200px;
    display: contents;
}


#add img {
    display: flex;
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 100px;
    position: absolute;
    right: 57px;
    top: 50px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
#add img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
#delete img {
    display: flex;
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 100px;
    position: absolute;
    right: 57px;
    top: 250px;
    transform:scale(1.1) rotate(45deg);
    -webkit-transform: scale(1) rotate(45deg);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
#delete img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1) rotate(45deg);
}

#edit img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
#edit img {
    display: flex;
    width: 95px;
    height: 95px;
    background: white;
    border-radius: 100px;
    position: fixed;
    border: 4px solid white;
    right: 57px;
    top: 450px;
    z-index: 20;
    transform:scale(1.1);
    -webkit-transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#move img {
    display: flex;
    width: 95px;
    height: 95px;
    background: white;
    border-radius: 100px;
    position: fixed;
    right: 57px;
    top: 650px;
    z-index: 20;
    transform:scale(1.1);
    -webkit-transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
#move img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
